@import './variables.scss';

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 80vw;
    margin: 90px auto;
    display: grid;
    row-gap: 40px;
}

@import './card.scss';
@import './list.scss';
@import './footer.scss';
@import './header.scss';
@import './block.scss';