<div class="cards">
    <h2 class="cards-header">Our creations</h2>
    <div class="card card-bg">
      <div class="card-text">
        <h3>Deep earth</h3>
      </div>
    </div>
    <div class="card card-bg">
      <div class="card-text">
        <h3>Night arcade</h3>
      </div>
    </div>
    <div class="card card-bg">
      <div class="card-text">
        <h3>Soccer team VR</h3>
      </div>
    </div>
    <div class="card card-bg">
      <div class="card-text">
        <h3>The grid</h3>
      </div>
    </div>
    <div class="card card-bg">
      <div class="card-text">
        <h3>From up above VR</h3>
      </div>
    </div>
    <div class="card card-bg">
      <div class="card-text">
        <h3>Pocket borealis</h3>
      </div>
    </div>
    <div class="card card-bg">
      <div class="card-text">
        <h3>The curiosity</h3>
      </div>
    </div>
    <div class="card card-bg">
      <div class="card-text">
        <h3>The curiosity</h3>
      </div>
    </div>
    <button class="cards-btn">See All</button>
  </div>