<footer class="footer grid">
    <div class="footer-logo">
      <img src="./images/logo.svg" alt="Brand Logo">
    </div>
    <ul class="list list-footer list-block">
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">About</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Careers</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Events</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Products</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Support</a></li>
    </ul>
    <ul class="list list-inline">
      <li class="list-item"><img src="./images/icon-facebook.svg" alt="Facebok logo"></li>
      <li class="list-item"><img src="./images/icon-twitter.svg" alt="Facebok logo"></li>
      <li class="list-item"><img src="./images/icon-pinterest.svg" alt="Facebok logo"></li>
      <li class="list-item"><img src="./images/icon-instagram.svg" alt="Facebok logo"></li>
    </ul>
    <div class="footer-text">
      <p>© 2021 Loopstudios. All rights reserved.</p>
    </div>
  </footer>