<header class="header">
    <nav class="nav">
      <img src="./images/logo.svg" alt="Brand Logo" class="nav-logo">
      <button class="icon-btn">
      </button>
      <ul class="list list-inline list-nav">
        <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">About</a></li>
        <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Careers</a></li>
        <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Events</a></li>
        <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Products</a></li>
        <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Support</a></li>
      </ul>
    </nav>
    <div class="header-content">
      <h1 class="header-content__text">Immersive experiences that deliver</h1>
    </div>
    <ul class="list list-block header-list-popup">
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom" target="_blank">About</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom" target="_blank">Careers</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom" target="_blank">Events</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom" target="_blank">Products</a></li>
      <li class="list-item"><a href="https://www.instagram.com/christopheriilajom" target="_blank">Support</a></li>
    </ul>
  </header>