<ul class="list list-footer list-block">
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">About</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Careers</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Events</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Products</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Support</a></li>
  </ul>
  
  <ul class="list list-inline">
    <li class="list-item"><img src="./images/icon-facebook.svg" alt="Facebok logo"></li>
    <li class="list-item"><img src="./images/icon-twitter.svg" alt="Facebok logo"></li>
    <li class="list-item"><img src="./images/icon-pinterest.svg" alt="Facebok logo"></li>
    <li class="list-item"><img src="./images/icon-instagram.svg" alt="Facebok logo"></li>
  </ul>
  
  <ul class="list list-inline list-nav">
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">About</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Careers</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Events</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Products</a></li>
    <li class="list-item"><a href="https://www.instagram.com/christopheriilajom">Support</a></li>
  </ul>